@{
    ViewData["Title"] = "Home Page";
}

<title>KhumaloCraft Emporium</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: saddlebrown; /* Background color for the entire page */
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: khaki; /* Background color for the container */
        border-radius: 10px; /* Rounded corners for the container */
 
    }

    header {
        background-color: #333;
        color: saddlebrown;
        padding: 10px 0;
        text-align: center;
        border-top-left-radius: 10px; /* Rounded corners for the header */
        border-top-right-radius: 10px;
    }

    h1 {
        margin-top: 0;
    }

    .content {
        margin-top: 20px;
    }

    .product {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: saddlebrown /* Background color for product items */
      
    }

        .product img {
            max-width: 100%;
            border-radius: 5px;
        }
</style>


<body>
    <header>
        <h1>Welcome to KhumaloCraft Emporium</h1>
    </header>

    <div class="container">
        <div class="content">
            <p>KhumaloCraft Emporium is your destination for exquisite handcrafted products from artisans around the world. Discover unique items crafted with passion and skill, each telling a story of tradition and creativity.</p>
            <p>Explore our collection of artisanal creations, from intricately designed pottery to beautifully woven textiles. Every purchase you make supports talented artisans and their communities.</p>
            <div class="product">
                <img src="https://www.montblanc.com/content/images/cms/ycm/resource/blob/319426/981d36ebaef66316220aca820ddd779c/craftsmanship-1-16x9-data.png/w1349.jpg" alt="Product 1">
            </div>

            <div class="product">
                <img src="https://cdn4.iguzzini.com/getmedia/f0515d6c-223c-4b0d-bbcf-b05a9d7186ff/HJ-LeSecret-Journalistes-Clip-MetamorphoseDyCygne-SF-06-HD-1?width=2000&height=1333&ext=.jpg" alt="Product 2">
            </div>
        </div>
    </div>
</body>

